# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Redis dump or config files (if any)
dump.rdb
*.log

# Virtual environment
venv/
ENV/
env/

# VS Code settings (if you're using VS Code)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python environment files
*.egg-info/
*.egg
*.env
.env

# Test coverage reports
htmlcov/
coverage.xml
*.cover

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
